<html>
    <title>Summary</title>
    <body>
        <h1>Summary of the article</h1>
        <p>Title: {{ article.title }}.</p>
        <p>Body: {{ article.body }}.</p>
        <p>Created on: {{ article.createdOn | date }}.</p>
        <p>Status: {{ article.status }}.</p>
    </body>
</html>
